<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin4teen</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Fin4teen</a>
    </div>

    <div class="cardsFront">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="swift.png" alt="Avatar" style="width:400px;height:200px;">
              </div>
              <div class="flip-card-back">
                <h1>Desenvolvido para iOS</h1>
                <p>Linguagem swift</p>
                <p>Mobile</p>
              </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="swift.png" alt="Avatar" style="width:400px;height:200px;">
              </div>
              <div class="flip-card-back">
                <h1>Desenvolvido para iOS</h1>
                <p>Linguagem swift</p>
                <p>Mobile</p>
              </div>
            </div>
        </div>
    </div>



    



    <div class="chip">
        <img src="github.png" alt="Person" width="96" height="96">
        
        <a class="link" href="https://github.com/leojportes/Fin4teenApp/">Visite nosso repositório</a>
      </div>

</body>

</html>
